<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=srvmainsql;Initial Catalog=Royalties;Persist Security Info=True;User ID=royalties;Password=royalties"/>
  </connectionStrings>

</configuration>
